{%- if builder != 'singlehtml' %}
<div class="buildstatus">
    <a href="https://travis-ci.org/cyrusimap/cyrus-imapd/branches" target="_blank">{{ theme_travis_version }}: <img src="https://travis-ci.org/cyrusimap/cyrus-imapd.svg?branch={{ theme_travis_version }}"></a>
</div>
{%- endif %}
